<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments</title>
</head>
<body>
    <nav>
    <ul id="menu">
    <h1>comments form</h1>
        <li class="logo"><a href="/home">Home</a></li>
        <li class="item"><a href="/home/new_post">Newpost</a></li>
        <li class="item"><a href="/profile">Profile</a></li>
    </ul>
    </nav>
    <div class="bg">
        <div class="box">
                <div id="myDIV">
                    <div id="total"></div>
                </div>
            </div>

        </div>
        <div class="box2">
        <form action="" method="post">
            <textarea  type="text" name="commit" required placeholder="massage" rows="4" cols="36"></textarea>
            <button type="submit">submit</button>  <a href="/home">Back</a>
        </form>
        </div>
    </div>
    <script>
        url = 'https://uttarayan-app.herokuapp.com/home/info'

        async function fetch_data(url){
            
            const eleRoot = document.getElementById('total');
            const res = await fetch(url,{
                method: 'GET'
            })
            var {totaldata,comments} = await res.json();
            let curUrl = window.location.href
            var user_id2 = curUrl.slice(curUrl.length -1,curUrl.length)
            comments = comments.reverse()
            comments.forEach(element => {
                if (user_id2 == element.id){
                    const comit = document.createElement("div");
                    comit.classList.add('comit');
                    eleRoot.appendChild(comit);
                   
                    var eleH3 = document.createElement("h3");
                    comit.appendChild(eleH3);
                    eleH3.textContent = `${element.postId}`

                    var eleH3 = document.createElement("h5");
                    comit.appendChild(eleH3);
                    eleH3.textContent = `${element.createdAt}`

                    const elep = document.createElement("h4");
                    comit.appendChild(elep);
                    elep.textContent = `${element.commit}`

                    var link = document.createElement('a');
                    link.setAttribute('href', `/delete/:${element.id}/del`);
                    link.textContent = `del`;
                    comit.appendChild(link);
                    }
                })}   
            fetch_data(url)
    </script>
    <script>
    const element = document.getElementById("total");
    let y = element.scrollHeight;
    let x = element.scrollWidth;
    </script>
    <style>
        #myDIV {
            margin-top: 1vh;
            height: 400px;
            width: 500px;
            overflow: auto;
            }

        #total {
            height: 400px;
            width: 80%;
            padding: 10px;
        }
        .box2{
            margin: 0 20%;
            width: 400px;
        }
        *{
            align-items: center;
            width: auto;
            margin: 20px 0;
            font-size: 20px;
        }
        body{
            background-color: rgba(156, 155, 155, 0.206);
        }
        .bg{
            height: 70vh;
            width: 47vh;
            border-radius: 50%;
            display: flex;
            margin: 0 auto;
        }
        .box{
            margin:  0 10px;
        }
        h1{
            font-family: monospace;
            font-weight: 600;
            font-size: 45px;
        }
        h4{
            background: rgba(156, 155, 155, 0.206);
            padding: 2px;
            font-size: 40px;
        }
        h5{
            text-align: right;
            margin-top: -2.5rem;
        }
        textarea{
            border-radius: 10px;
            padding: 5px;
            background-color: azure;
        }

        .comit{
            z-index: 100;
            position:inherit;
            max-width: 640px;
            margin: 20px auto;
            background: #fff;
            border-radius: 10px;
            padding: 20px;
        }
        textarea {
            width: 100%;
            border: none;
            background: #E8E8E8;
            padding: 5px 10px;
            height: 50%;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 2px solid #016BA8;
            transition: all 0.5s;
            margin-top: 15px;
        }

        button {
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
        a {
            z-index: 10;
            text-decoration: none;
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 26px;
            border-radius: 5px;
        }
        
        
    </style>
</body>
</html>