<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments</title>
</head>
<body>
    <nav>
    <ul id="menu">
        <lu class="logo"><a href="/home">Home</a></lu>
        <lu class="item"><a href="/home/new_post">Newpost</a></lu>
        <lu class="item"><a href="/profile">Profile</a></lu>
    <h1>comments</h1>
    </ul>
    </nav>
    <div class="bg">
        <div class="box">
                <div id="myDIV">
                    <div id="total"></div>
                </div>
            </div>

        </div>
        <div class="box2">
        <form action="" method="post">
            <textarea  type="text" name="commit" required placeholder="massage" rows="4" cols="36"></textarea>
            <button type="submit">submit</button>  <a href="/home">Back</a>
        </form>
        </div>
    </div>
    <script>
        url = '/home/info/data'

        async function fetch_data(url){
            
            const eleRoot = document.getElementById('total');
            const res = await fetch(url,{
                method: 'GET'
            })
            var {posts,comments} = await res.json();
            let curUrl = window.location.href
            var user_id2 = curUrl.slice(curUrl.length -1,curUrl.length)

            posts.forEach(element => {
                if (user_id2 == element.id)
                {    const post = document.createElement("div");
                    post.classList.add('post');
                    eleRoot.appendChild(post);

                    const eleH3 = document.createElement("h3");
                    post.appendChild(eleH3);
                    eleH3.textContent = `${element.user_name}`

                    const elep = document.createElement("h1");
                    post.appendChild(elep);
                    elep.textContent = `${element.message}`

                    const eleH6 = document.createElement("h6");
                    eleH6.textContent = `${element.createdAt}`
                    if (element.url != null){
                        const eleImg = document.createElement("img");
                        post.appendChild(eleImg);
                        eleImg.src = `${element.url}`
                    }

                    var link = document.createElement('a');
                    link.setAttribute('href', `/feedback/:${element.id}/:likes`);
                    link.textContent = `like ${element.likes}`;
                    post.appendChild(link);

                    
                    var link = document.createElement('a');
                    link.setAttribute('href', `/feedback/:${element.id}/:dislike`);
                    link.textContent = `dislike ${element.dislikes}`;
                    post.appendChild(link);
                    
                    var link = document.createElement('a');
                    link.setAttribute('href', `/comments/:${element.id}`);
                    link.textContent = 'comments';
                    post.appendChild(link);
                    post.appendChild(eleH6);
                }
            });
            comments.forEach(element => {
                if (user_id2 == element.postId){
                    const comit = document.createElement("div");
                    comit.classList.add('comit');
                    eleRoot.appendChild(comit);
                   
                    var eleH3 = document.createElement("h3");
                    comit.appendChild(eleH3);
                    eleH3.textContent = `${element.commiter_name}`

                    var eleH3 = document.createElement("h5");
                    comit.appendChild(eleH3);
                    eleH3.textContent = `${element.createdAt}`
                    
                    var link = document.createElement('a');
                    link.setAttribute('href', `/delete/:${element.id}/del`);
                    link.textContent = `❌`;
                    eleH3.appendChild(link);

                    const elep = document.createElement("h4");
                    comit.appendChild(elep);
                    elep.textContent = `${element.commit}`

                    }
                })}   
            fetch_data(url)
    </script>
    <script>
    const element = document.getElementById("total");
    let y = element.scrollHeight;
    let x = element.scrollWidth;
    </script>
    <style>
        #myDIV {
            margin-top: 20vh;
            height: 800px;
            width: 100%;
            overflow: auto;
            border-radius: 20px;
            }

        #total {
            height: 400px;
            width: 80%;
            padding: 10px;
        }
        .box2{
            width: 70%;
            display: flex;
            margin: 0 auto;
            margin-top: 20vh;
            position: relative;
        }
        *{
            align-items: center;
            width: auto;
            margin: 20px 0;
        }
        body{
            background-color: rgba(156, 155, 155, 0.206);
        }
        .bg{
            height: 70vh;
            width: 47vh;
            border-radius: 50%;
            display: flex;
            margin: 0 auto;
        }
        .box{
            margin:  0 10px;
        }
        h1{
            font-family: monospace;
            font-weight: 600;
            font-size: 45px;
        }
        h4{
            background: rgba(156, 155, 155, 0.206);
            padding: 5px;
            border-radius: 20px;
            font-size: 20px;
        }
        h5{
            text-align: right;
            margin-top: -2.5rem;
            font-size: 10px;
        }

        .comit{
            z-index: 100;
            position: inherit;
            width: 95%;
            height: auto;
            margin: 6.5px auto;
            background: #fff;
            border-radius: 10px;
            padding: 7.4px 16.8px;
        }
        textarea {
            width: 100%;
            border: none;
            background: #f1e8e8;
            padding: 5px 10px;
            height: auto;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 2px solid #016BA8;
            transition: all 0.5s;
            margin-top: 15px;
        }

        button {
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
        a {
            z-index: 10;
            text-decoration: none;
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
        .post{
            transition: all 1s;
            box-shadow: 0px 4px 24px 3px rgba(0, 0, 0, 0.476);
            position: relative;
            margin-top: 0rem !important;
            padding: 10px;
            border-radius: 30px;
            width: 110%;
            height: auto;
            margin: 10px;
            display: flexbox;
        }
        .post h3{
            height: auto;
            width: auto;
            padding:  8px 15px 15px 15px;
            background-color: azure;
            border-radius: 20px;
        }
        .post a{
            text-decoration: none;
            height: 5%;
            padding: 5px;
            border-radius: 10px;
            font-size: 15px;
            background-color: #016ba8;
            color: #fff;
            border: 1px solid;
            margin-right: 4px;
        }
        #menu a{
            font-size: 1rem;
            display: flexbox;
            margin: 0 auto;
            overflow: hidden;
        }
        img{
            display: flex;
            margin: 0 auto;
            width: 32vh;
            height: auto;
            object-fit: scale-down;
            border-radius: 20px;
            margin-bottom: 1.5rem;
            display: block; 
        }
        h5 a{
            position: relative;
            font-size: 9px;
            background: none;
            border-radius: 50%;
        }
        
    </style>
</body>
</html>