<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://cdn.pixabay.com/photo/2016/12/10/08/43/alphabet-1896952_960_720.png">
    <title>new_Post form</title>
</head>
<body>
    <nav>
    <ul id="menu">

    <h1>new post form</h1>
        <lu class="logo"><a href="/home">Home</a></lu>
        <lu class="item"><a href="/profile">Profile</a></lu>
        <lu class="item"><a href="/home/new_post">re- fress</a></lu>
    </ul>
    </nav>
    <div class="bg">
        <div class="box">
        <form action="" method="post">
            <h1>`
            </h1>
                <input type="text" id="pin" name="title" placeholder="Post title" required>
                <textarea id="review" type="text" name="message" placeholder="massage" rows="4" cols="40"></textarea>
                <input type="text" id="url4" name="url" placeholder="copy and paste the image url" required>
                <a href="http://kanishkkunal.com" 
                    target="popup" 
                    onclick="window.open('https://postimages.org/','popup','width=300,height=300'); return false;">
                        Uploade_img
                    </a>
                <a href="/home">Back</a> <button onclick="cic()" type="submit">submit</button>   
                <h6><input type="checkbox" required>if you want to upload the your own image click the "OWN IMG" Button and follow the steps.</h6>
            </form>
        </div>
    </div>
    <script>
        function cic(){
            const url_ = document.getElementById('url4').value;
            if (url_.length > 150 || url_.slice(0,4) != 'http' ){
                console.log('running!!!')
                alert('your url is invallid')
            }
        }
    </script>
    <style>
        *{
            align-items: center;
            text-decoration: none;
        }
        body{
            background-color: rgba(156, 155, 155, 0.206);
            width: 90%;
        }
        h1{
            font-family: monospace;
            color: black;
            font-weight: 600;
            font-size: 35px;
        }
        .bg{
             background: rgba(128, 128, 128, 0.76);
            height: 64vh;
            width: 40vh;
            border-radius: 47%;
            display: flex;
            margin: 0 auto;
            padding: 20px;
        }
         #menu{
            left: 0%;
            width: 100%;
            color: white;
            text-align: left;
            margin: 10px 0;
         }
         #menu li{
            margin-top: 30px;
         }
        textarea {
            width: 90%;
            border: none;
            background: #E8E8E8;
            padding: 5px 10px;
            height: 50%;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 2px solid #016BA8;
            transition: all 0.5s;
            margin-top: 15px;
        }
        a{
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 2px;
            box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 25%);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
        input {
            width: 90%;
            border: none;
            background: #E8E8E8;
            padding: 5px 10px;
            height: 2rem;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 2px solid #016BA8;
            transition: all 0.5s;
            margin-top: 15px;            
            margin: 0 0 10px;
        }
        button {
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
        h6{
            color: red;
            font-size: 14px;
            display: flex;
        }
    </style>
</body>
</html>