<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registation form</title>
</head>
<body>
    <h1>Sign-in form</h1>
    <div class="bg">
        <div class="box">
            <div class="empty"></div>
                <form action="" method="post">
                    <input type="text" name="name" placeholder="username" required>
                    <input type="email" name="email" placeholder="email" required>
                    <input type="password" id="pin1" name="password" placeholder="password" required>
                    <input type="number" name="age" placeholder="age" required>
                    <input type="number" name="phone_no" placeholder="phone_no">
                    <a href="/login">Back</a><button type="submit" onclick="chick()">submit</button>
                </form>
        </div>
    </div>
    <style>
        *{
            align-items: center;
            width: auto;
            margin: 10px 0;
            text-decoration: none;
        }
        body{
            background-color: rgba(156, 155, 155, 0.206);
        }
        .bg{
            background: rgba(128, 128, 128, 0.76);
            height: 64vh;
            width: 32vh;
            border-radius: 50%;
            display: flex;
            margin: 0 auto;
            padding: 35px;
        }
        .box{
            margin:  0 10px;
        }
        h1{
            font-family: monospace;
            font-weight: 600;
            font-size: 45px;
        }
         textarea {
            width: 90%;
            border: none;
            background: #E8E8E8;
            padding: 5px 10px;
            height: 50%;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 2px solid #016BA8;
            transition: all 0.5s;
            margin-top: 15px;
        }
        a{
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-right: 10px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
        input {
            width: 90%;
            border: none;
            background: #E8E8E8;
            padding: 5px 10px;
            height: 2rem;
            border-radius: 5px 5px 0px 0px;
            border-bottom: 2px solid #016BA8;
            transition: all 0.5s;
            margin-top: 15px;            
            margin: 0 0 10px;
        }
        button {
            background: #016ba8;
            color: #fff;
            padding: 10px 10px;
            border: none;
            margin-top: 0px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 4px;
            box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
            transition: 1s all;
            font-size: 16px;
            border-radius: 5px;
        }
         #menu{
            display: flexbox;
            left: 0%;
            width: 100%;
            color: white;
            text-align: left;
        }
        #menu a{
            font-size: 1.3rem;
            display: flexbox;
            margin: 0 auto;
            overflow: hidden;
        }
    </style>

</body>
</html>